.offer-nurses-section {
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  .container {
    row-gap: 0;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $bg-primary;
    opacity: .6;
    z-index: 1;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    z-index: 0;
    opacity: .5;
    img {
      @include image_cover;
      object-position: top;
    }
  }
  &__info-block {
    position: relative;
    grid-column: span 4;
    @include df_fdc;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    z-index: 1;
    &__title {
      @include heading_2;
      text-transform: uppercase;
      max-width: 76.25rem;
    }
    &__content {
      width: 50%;
      @include mobile {
        width: 100%;
      }
      p {
        padding-bottom: 1.25rem;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    &__button-block {
      display: flex;
      gap: 1.875rem;
      @include mobile_small {
        @include df_fdc;
      }
    }
  }
}