<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../src/styles/main.css">
</head>

<header class="header-section">
    <div class="header-section__container container">
        <div class="header-section__info-block">
            <div class="header-section__info-block__burger">
                <span></span>
                <span></span>
            </div>
            <div class="header-section__info-block__nav">
                <ul class="header-section__info-block__nav__list">
                    <li class="header-section__info-block__nav__list__li"><a href="#" class="header-section__info-block__nav__list__li__link">Выплаты</a></li>
                    <li class="header-section__info-block__nav__list__li"><a href="#" class="header-section__info-block__nav__list__li__link">Льготы</a></li>
                    <li class="header-section__info-block__nav__list__li"><a href="#" class="header-section__info-block__nav__list__li__link">Вакансии</a></li>
                    <li class="header-section__info-block__nav__list__li"><a href="#" class="header-section__info-block__nav__list__li__link">Условия контракта</a></li>
                    <li class="header-section__info-block__nav__list__li"><a href="#" class="header-section__info-block__nav__list__li__link">Женщинам</a></li>
                </ul>
            </div>
            <div class="header-section__info-block__contacts">
                <div class="header-section__info-block__contacts__phone-block">
                    <div class="header-section__info-block__contacts__phone-block__icon"><img src="/src/assets/icons/phone.svg" alt=""></div>
                    <div class="header-section__info-block__contacts__phone-block__sub">
                        <ul class="header-section__info-block__contacts__phone-block__sub__list">
                            <li class="header-section__info-block__contacts__phone-block__sub__list__li">
                                <div class="header-section__info-block__contacts__phone-block__sub__list__li__name">Центральный и Комсомольский р-н</div>
                                <a href="tel:+7 (8482) 48-64-50" class="header-section__info-block__contacts__phone-block__sub__list__li__value">+7 (8482) 48-64-50</a>
                            </li>
                            <li class="header-section__info-block__contacts__phone-block__sub__list__li">
                                <div class="header-section__info-block__contacts__phone-block__sub__list__li__name">Автозаводский р-н</div>
                                <a href="tel:+7 (917) 117-17-40" class="header-section__info-block__contacts__phone-block__sub__list__li__value">+7 (917) 117-17-40</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-section__info-block__contacts__button">
                    <a href="https://tgl.ru/" class="button button_outlined button_size_basic desktop">Официальный сайт</a>
                </div>
                <div class="header-section__info-block__contacts__button" data-bs-toggle="modal" data-bs-target="#infoModal">
                    <a class="button button_primary button_size_basic">Хочу служить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mob-menu">
        <ul class="mob-menu__list">
            <li class="mob-menu__list__li"><a href="#" class="mob-menu__list__li__link">Выплаты</a></li>
            <li class="mob-menu__list__li"><a href="#" class="mob-menu__list__li__link">Льготы</a></li>
            <li class="mob-menu__list__li"><a href="#" class="mob-menu__list__li__link">Вакансии</a></li>
            <li class="mob-menu__list__li"><a href="#" class="mob-menu__list__li__link">Условия контракта</a></li>
            <li class="mob-menu__list__li"><a href="#" class="mob-menu__list__li__link">Женщинам</a></li>
        </ul>
        <ul class="header-section__info-block__contacts__phone-block__sub__list">
            <li class="header-section__info-block__contacts__phone-block__sub__list__li">
                <div class="header-section__info-block__contacts__phone-block__sub__list__li__name">Центральный и Комсомольский р-н</div>
                <a href="tel:+7 (8482) 48-64-50" class="header-section__info-block__contacts__phone-block__sub__list__li__value">+7 (8482) 48-64-50</a>
            </li>
            <li class="header-section__info-block__contacts__phone-block__sub__list__li">
                <div class="header-section__info-block__contacts__phone-block__sub__list__li__name">Автозаводский р-н</div>
                <a href="tel:+7 (917) 117-17-40" class="header-section__info-block__contacts__phone-block__sub__list__li__value">+7 (917) 117-17-40</a>
            </li>
        </ul>
        <a href="https://tgl.ru/" class="button button_outlined button_size_small mob-menu__button">Официальный сайт</a>
    </div>
</header>
<div class="cookie" id="cookie_notification">
    <div class="cookie__content">
        <div class="cookie__content__header">
            <div class="cookie__content__header__title">Мы используем Cookie</div>
            <div class="button_close cookie-close"></div>
        </div>
        <div class="cookie__content__body">Без них мы не можем гарантировать правильную службу сайта</div>
        <div class="button button_size_basic button_primary cookie-alert__button">Используйте</div>
    </div>
</div>
<body>
    <main>
        <section class="error-section">
            <div class="error-section__container container">
                <div class="error-section__information">
                    <div class="error-section__information__title">Ошибка 404!</div>
                    <div class="error-section__information__description">Данной страницы не существует, приносим свои извинения.</div>
                    <div class="error-section__information__button">
                        <a href="/" class="button button_primary button_size_basic desktop">На главную</a>
                    </div>
                </div>
                <div class="error-section__img"><img src="/src/assets/img/404.png" alt=""></div>
                <div class="error-section__button mobile">
                    <a href="/" class="button button_primary button_size_basic">На главную</a>
                </div>
            </div>
        </section>
        <style>
            header {
                position: fixed!important;
            }
            footer {
                display: none!important;
            }
        </style>
    </main>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body form-section__container">
                <button class="button_close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                <div class="form-section__container__img"><img src="/src/assets/img/form.png" alt=""></div>
                <div class="form-section__form-block">
                    <div class="form-section__form-block__title">Ты нужен для серьезных задач</div>
                    <form name="callback" class="lead-form">
                        <input type="hidden" name="bid" value="2">
                        <div class="form__fields">
                            <label class="form__field">
                                <span class="form__field__name">ФИО</span>
                                <input type="text" class="form__field__input" name="name" placeholder="Иванов Иван Иванович">
                            </label>
                            <label class="form__field">
                                <span class="form__field__name">Номер телефона</span>
                                <input type="phone" class="form__field__input" name="phone" placeholder="+7(___)-___-__-__">
                            </label>
                            <div class="form__fields__grid-2">
                                <label class="form__fields__approval">
                                    <input type="checkbox">
                                    <span>Да, мне 18 или более лет</span>
                                </label>
                                <div class="form__fields__description">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
                            </div>
                        </div>
                        <button type="submit" class="button button_primary button_size_basic">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="module" src="../src/scripts/app.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>