<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/styles/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>
    
    <header></header>
    
    <main>
        <div class="card_basic">
            <div class="card_basic__header">
                <div class="card_basic__header__title">200 000 ₽</div>
            </div>
            <div class="card_basic__body">
                <div class="card_basic__body__text">Единовременная городская выплата для заключивших контракт в г. Тольятти</div>
            </div>
        </div>
        <div class="card_wide">
            <div class="card_wide__header">
                <div class="card_wide__header__title">ОТ 210 000 ₽</div>
            </div>
            <div class="card_wide__body">
                <div class="card_wide__body__text">Денежное довольствие ежемесячно во время службы</div>
                <div class="card_wide__body__description">В зависимости от воинского звания, должности и выслуги лет, а также при выполнении специальных задач</div>
            </div>
        </div>
        <div class="card_img_large">
            <div class="card_img_large__img"><img src="/src/assets/test/1.png" alt=""></div>
            <div class="card_img_large__header">
                <div class="card_img_large__header__title">Контрактику</div>
            </div>
            <div class="card_img_large__body">
                <ul class="card_img_large__body__list">
                    <li class="card_img_large__body__list__li">Возможность приобрести жильё за счёт Минобороны через накопительно-ипотечную систему</li>
                    <li class="card_img_large__body__list__li">Служебное жильё или компенсация за наём</li>
                    <li class="card_img_large__body__list__li">Возможность приобрести жильё за счёт Минобороны через накопительно-ипотечную систему</li>
                    <li class="card_img_large__body__list__li">Возможность приобрести жильё за счёт Минобороны через накопительно-ипотечную систему</li>
                    <li class="card_img_large__body__list__li">Возможность приобрести жильё за счёт Минобороны через накопительно-ипотечную систему</li>
                </ul>
            </div>
        </div>
        <div class="card_img_basic">
            <div class="card_img_basic__img"><img src="/src/assets/test/2.webp" alt=""></div>
            <div class="card_img_basic__header">
                <div class="card_img_basic__header__title">Тыловые войска обеспечения</div>
            </div>
            <div class="card_img_basic__body">
                <div class="card_img_basic__body__text">
                    Принимаются водители категорий C и CE
                </div>
            </div>
        </div>
    </main>
    
    <footer></footer>
    
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script type="module" src="../src/scripts/app.js"></script>
</html>